@page "/ReservationFinder"

<h1>Find Reservation</h1>

<form class="form-group">

    <label for="reservationCode">Reservation Code:</label>
    <input id="reservationCode" type="text"/>

    <label for="airline">Airline:</label>
    <input id="airline" type="text"/>

    <label for="Name">Name:</label>
    <input id="Name" type="text"/>

    <button type="submit">Find Reservations</button>
</form>


@code {
    
}
